body {
    background-image: url("https://imagehost.imageupload.net/2020/06/28/ricepaper_v3_2X.png");
    background-repeat: repeat;
}

.navbar.bg-light {
       background-color: #C3FFFF !important;
       .form-control {
                border-radius: 4.25rem;
                   
       }
        
}

.with-bg {
    background-image:  url("https://www.pngkey.com/png/full/409-4098095_free-showcard-border-text-box-fancy-png.png");
    background-size: 100% 100%;
}

.image-class {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.padded-top {
    padding-top: 20px;
}

.container {
    position: relative;
    height: 500px;
}

/* Make the image responsive */
.container img {
    margin: 0;
    width: 100%;
    height: auto;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-in-image {
    padding: 8vw;
    font-size:2.5vw;
}
/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 80%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

.container .btn:hover {
    background-color: black;

}
