body {
    background-color: #B3E1F1 !important;
}

.navbar.bg-light {
    background-color: #B3E1F1 !important;
    .form-control {
        border-radius: 4.25rem;

    }

}

.cstm-height-card .card-img-top {
    height: 100px;
    object-fit: cover;


}

.card-body {
    background-color: #f3e2b3;
}

.image-class {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-ch1 {
    background-image: url("https://i.ibb.co/pZX8SjZ/Chapter1.png");
    background-size: 100% 100%;
    width: 20vw;
    height: 10vw;
}

.btn-ch2 {
    background-image: url("https://i.ibb.co/KNr5sXH/Chapter2.png");
    background-size: 100% 100%;
    width: 20vw;
    height: 10vw;

}

.btn-ch3 {
    background-image: url("https://i.ibb.co/mX9pH8W/Chapter3.png");
    background-size: 100% 100%;
    width: 20vw;
    height: 10vw;
}

.btn-ch4 {
    background-image: url("https://i.ibb.co/4V5D2rz/Chapter4.png");
    background-size: 100% 100%;
    width: 20vw;
    height: 10vw;
}

.btn-ch5 {
    background-image: url("https://i.ibb.co/55q1kB8/Chapter5.png");
    background-size: 100% 100%;
    width: 20vw;
    height: 10vw;
}

.center {
  display: block;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}